apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          ports:
            - containerPort: {{ .Values.backend.service.port }}
          env:
            - name: NODE_ENV
              value: "production"
            - name: MONGODB_URI
              value: mongodb://{{ .Values.database.user }}:{{ .Values.database.password }}@{{ include "chat-app.fullname" . }}-db:27017/{{ .Values.database.DBname }}?authSource=admin
            - name: PORT
              value: "{{ .Values.backend.service.port }}"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: jwt-secret
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5001
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
