apiVersion: v1
kind: Service
metadata:
  name: {{ include "chat-app.fullname" . }}-frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
      