apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  jwt-secret: ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKU2IyeGxJam9pUVdSdGFXNGlMQ0pKYzNOMVpYSWlPaUpKYzNOMVpYSWlMQ0pWYzJWeWJtRnRaU0k2SWtwaGRtRkpibFZ6WlNJc0ltVjRjQ0k2TVRjME5EUTRNekl4TXl3aWFXRjBJam94TnpRME5EZ3pNakV6ZlEuS1JHRUE3NjNJMnlSXzN3UkZQek1pbVZjYVB5RHMtYVZ6RjE2T3RmdVM0TQ==