frontend:
  replicaCount: 1
  image:
    repository: nginx
    tag: latest
  service:
    port: 80
  ingress:
    enabled: true
    host: frontend.local

backend:
  replicaCount: 1
  image:
    repository: nginx
    tag: latest
  service:
    port: 8080

database:
  image:
    repository: mysql
    tag: "8.0"

  name: mydb
  user: appuser
  password: applogs

  persistence:
    enabled: true
    size: 2Gi
    accessMode: ReadWriteOnce
    storageClass: standard   # gp2 (EKS), standard (minikube)

    