apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment

spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:latest
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: my-secret
                  key: MYSQL_ROOT_PASSWORD
#            - name: MYSQL_USER
#              valueFrom:
#                configMapKeyRef:
#                  name: my-config-map
#                  key: MYSQL_USER